.christmas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quote {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: -20px;
}
.quote h1 {
  font-size: 50px;
  font-weight: bold;
  transform: rotate(-10deg);
}
.quote h1:first-child {
  margin-bottom: 20px;
}
.quote h1:last-child {
  text-align: normal;
}

.santa {
  position: relative;
  text-align: center;
}
.santa__star-1 {
  font-size: 60px;
  color: var(--christmas-yellow);
  position: absolute;
  top: 60px;
  left: -60px;
  text-shadow: 0 0 5px var(--christmas-yellow), 0 0 10px var(--christmas-yellow);
  transform: rotate(20deg);
}
.santa__star-2 {
  font-size: 40px;
  color: var(--christmas-yellow);
  position: absolute;
  top: -120px;
  right: -50px;
  text-shadow: 0 0 5px var(--christmas-yellow), 0 0 10px var(--christmas-yellow);
  transform: rotate(-20deg);
}
.santa__moon {
  font-size: 400px;
  color: var(--christmas-yellow);
  margin-left: 25%;
  position: relative;
  top: -60px;
  text-shadow: 0 0 5px var(--christmas-yellow), 0 0 10px var(--christmas-yellow),
    0 0 20px var(--christmas-yellow);
}
@keyframes moveSanta {
  from {
    transform: translateX(-180px);
  }
  to {
    transform: translateX(10px);
  }
}
.santa img {
  width: 300px;
  position: absolute;
  top: 90px;
  right: -13%;
  animation: moveSanta 10s ease-in-out forwards;
}
@keyframes fallGift {
  0% {
    transform: translateX(-180px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateY(390px);
  }
}
.santa__gift {
  font-size: 20px;
  color: var(--christmas-pink);
  position: absolute;
  top: 150px;
  right: 44%;
  animation: fallGift 20s ease-in-out forwards;
}

.trees {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
}
.trees__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trees__wrap_right {
  position: relative;
}
.trees__tree {
  font-size: 20px;
  color: var(--christmas-green);
}
.trees__tree-big {
  font-size: 200px;
  color: var(--christmas-light-green);
}
.trees__star {
  font-size: 20px;
  color: var(--christmas-yellow);
  text-shadow: 0 0 5px var(--christmas-yellow), 0 0 10px var(--christmas-yellow);
  position: absolute;
  top: -15px;
}
.trees__ball--white {
  font-size: 10px;
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white;
  position: absolute;
  top: 25px;
  left: 60px;
}
.trees__ball--pink {
  font-size: 10px;
  color: var(--christmas-pink);
  text-shadow: 0 0 5px var(--christmas-pink), 0 0 10px var(--christmas-pink);
  position: absolute;
  top: 50px;
  right: 55px;
}
.trees__sock {
  font-size: 25px;
  color: var(--christmas-red);
  position: absolute;
  top: 70px;
  left: 45px;
  transform: rotate(20deg);
}
.trees__ball--yellow {
  font-size: 10px;
  color: var(--christmas-yellow);
  text-shadow: 0 0 5px var(--christmas-yellow), 0 0 10px var(--christmas-yellow);
  position: absolute;
  top: 80px;
  right: 45px;
}
.trees__candycane {
  font-size: 25px;
  color: var(--christmas-light-blue);
  position: absolute;
  top: 100px;
  right: 35px;
  transform: rotate(90deg);
}
.trees__ball--white-2 {
  font-size: 10px;
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white;
  position: absolute;
  top: 120px;
  left: 45px;
}
.trees__bell {
  font-size: 25px;
  color: var(--christmas-yellow);
  position: absolute;
  top: 125px;
  right: 50px;
  transform: rotate(-10deg);
}

@keyframes jumpChild {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: none;
  }
}
.trees__child {
  font-size: 25px;
  color: var(--christmas-light-blue);
  transform-origin: bottom;
  animation: jumpChild 1s ease-in-out infinite;
}
.trees__home {
  font-size: 30px;
  color: var(--christmas-blue);
}
.trees__snowman {
  font-size: 20px;
  color: var(--christmas-light-blue);
}
.trees__snow-1 {
  font-size: 10px;
  color: white;
  position: absolute;
  top: 70px;
  left: 200px;
}
.trees__snow-2 {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 50px;
  right: 170px;
}
.trees__snow-3 {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 100px;
  right: 70px;
}

@keyframes twinkle-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.twinkle-1 {
  animation: twinkle-1 3s ease-in-out infinite;
}
@keyframes twinkle-2 {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.twinkle-2 {
  opacity: 0.3;
  animation: twinkle-2 3s ease-in-out infinite;
}
